export(admm_both)
export(AR)
export(CS)
export(creating_x)
export(creating_y)
export(HBIC)
export(est_lambda)
export(l1norm)
export(l2norm)
export(matsplitter)
export(prox_beta)
export(prox_z)
import(MASS)
import(doParallel)
import(foreach)
importFrom(compiler, cmpfun)
importFrom(MASS, ginv)
importFrom(foreach, "%dopar%")
importFrom(foreach, "%do%")
importFrom(foreach, foreach)
